<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <specFlow>

    <stepAssemblies>
    </stepAssemblies>
    <unitTestProvider name="MsTest" />
    <plugins>
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="baseUrl" value="https://test-eas.apprenticeships.sfa.bis.gov.uk" />
    <add key="TempUrl" value="https://test-eas.apprenticeships.sfa.bis.gov.uk/EmployerAccountPaye/ConfirmPayeScheme&amp;accountId=22?code=870719c81f5ac21ca5372d98" />
    <add key="browserType" value="chrome" />
    <add key="PireanUsername" value="" />
    <add key="PireanPassword" value="" />
    <add key="InvitedUserName" value="" />
    <add key="InvitedUserPW" value="" />
    <add key="CompanyNumber" value="" />
    <add key="CompanyName" value=" TECHNOLOGY SOLUTIONS LIMITED" />
    <add key="HMRCUN" value="" />
    <add key="HMRCPW" value="" />
    <add key="WaitinSeconds" value="3" />
    <add key="IEDriverPath" value="C:\code\AML_TestAutomation_Framework\src\packages\Selenium.WebDriver.IEDriver.2.53.1.1\driver"/>
    <add key="ChromeDriver" value="C:\code\AML_TestAutomation_Framework\src\packages\Selenium.WebDriver.ChromeDriver.2.23.0.1\driver"/>
    <add key="PhantomDriver" value="C:\code\AML_TestAutomation_Framework\src\packages\PhantomJS.2.1.1\tools\phantomjs"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>